a {
  text-decoration: none;
  color: white;
}
header {
  background-color: #2d2d2d;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 70px;
}
.external-links,
.header-container {
  display: flex;
  flex-direction: column;
}
.header-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.external-links {
  margin-top: 15vh;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  header {
    height: 40px;
    padding: 10px 0;
    width: 100vw;
  }
  .header-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
  }
  .external-links {
    display: none;
    flex-direction: row;
  }
}
