html {
  background-color: #333333;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 70px;
  padding: 1rem;
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-header {
  margin-left: 3.5rem;
}
.body-container {
  margin-left: 2rem;
}
.home-description {
  margin: 0 3rem;
  font-size: 12px;
}
.tags {
  color: #525252;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}
.icon {
  width: 50px;
  height: 25px;
  margin-left: 10px;
}
.hero-image {
  position: absolute;
  width: 40%;
  right: 1rem;
  top: 30%;
  display: block;
  margin: auto;
}
.projects-link {
  margin: 0 5%;
}
.btn {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.btn:hover {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  position: relative;
  animation-name: run;
  transform: scale(0.75);
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.btn-container {
  display: flex;
  align-items: center;
}
@keyframes run {
  0% {
    transform: translate(-10%, 0);
  }
  50% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(-10%, 0);
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: inline-block;
    padding: 1rem;
    width: 90%;
    margin-left: 70px;
  }
  .hero-image {
    position: static;
    display: block;
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  main {
    max-width: 100vw;
  }
  .home-description {
    margin-left: 12%;
    font-size: 12px;
  }
  .container {
    margin-top: 60px;
    margin-left: 0px;
  }
  .body-container {
    margin-left: 0.75rem;
  }
  .tags {
    color: #525252;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
  }
  .icon {
    width: 40px;
    height: 22px;
    margin-left: 10px;
  }
  .projects-link {
    margin: 0 5%;
  }

  .btn {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: run;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .btn:hover {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    position: relative;
    animation-name: run;
    transform: scale(0.75);
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

  @keyframes run {
    0% {
      transform: translate(-10%, 0);
    }
    50% {
      transform: translate(10%, 0);
    }
    100% {
      transform: translate(-10%, 0);
    }
  }

  .name-header {
    display: block;
    width: 240px;
    margin-left: 17%;
  }
  .home-content {
    position: relative;
    left: 20;
  }
}
